* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #35356e, #cce6ff); 
    color: #ffc24d; 
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 100px; 
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    background-color: #35356e;
}

header .logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

header .logo img {
    margin-right: 10px; 
}

header nav a {
    text-decoration: none;
    color: white;
    margin-left: 2rem;
    transition: color 0.3s ease;
}

header nav a:hover {
    color: #ffc24d;
}

header .login-btn {
    background-color: #ffc24d;
    padding: 0.7rem 2rem;
    border-radius: 20px;
    border: none;
    color: #35356e;
    font-weight: bold;
    cursor: pointer;
}

header .login-btn:hover {
    background-color: #cce6ff; 
    color: #35356e;
}


.main-content {
    background-color: #35356e; 
    padding: 2rem;
    border-radius: 15px;
    text-align: center;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.1); 
    color: #ffc24d; 
}

.main-content h1 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); 
}

.main-content p {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
    color: #ffffff;
}

.main-content .login-btn {
    background-color: #ffc24d; 
    color: #35356e;
    border: none;
    padding: 0.8rem 1.8rem;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.main-content .login-btn:hover {
    background-color: #e0a93b; 
}


input {
    width: 90%;
    padding: 1rem;
    margin: 0.8rem 0;
    border-radius: 30px;
    border: 2px solid #ffc24d; 
    background-color: rgba(53, 53, 110, 0.8); 
    color: #ffc24d; 
    text-align: center;
    font-size: 1rem;
}

input[type="submit"] {
    background-color: #ffc24d; 
    border: none;
    cursor: pointer;
    padding: 1rem;
    font-weight: bold;
    color: #35356e; 
}

input[type="submit"]:hover {
    background-color: #ffd966; 
}


.gallery img {
    width: 100%;
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1rem;
    padding: 2rem;
}

footer {
    margin-top: 2rem;
    text-align: center;
    font-size: 0.9rem;
    color: #ffc24d; 
}
